@media only screen and (max-width:440px)  {
  .right_main{
    margin-top:63px;
    display: none;
    z-index: 88;
    width: 250px;
    height: 600px;
    border-bottom-right-radius: 10px;
 
   
  }
  .right_main_logo_with_icon {
    width: 100%;
  }
  
  .left_main{
    margin-left: 0;
  }
  .card_main{
    display: none;
  }


  .chart_main {
    display: none;
  }
.table_main{
  display: none;
}
.sub_container{
  display: none;
}
.copiyright_main{
  display: none;
}
.search_bar_main{
  display: none;
}
.nav_bar_item_massage_text{
  display: none;
}
.nav_bar_item_notificatin_text{
  display: none;
}
.nav_bar_item_user_text{
  display: none;
}
.left_navbar{
  width: 100%;
}
.hame_burger_icon_and_search_bar_main{
  width: 20px;
  margin-left: 10px;
}
.left_navbar_left_section {
  width: 15%;
  height: 64px;
  
  display: flex;
  align-items: center;
}
.nav_bar_item_massage_main{
  margin-left: 30px;
}
.nav_bar_item_massage_drop_down_menu > i{
  margin-left: 10px;
}
.nav_bar_item_notificatin_main{
  margin-left: 30px;
}
.nav_bar_item_notificatin_drop_down_menu > i{
  margin-left:10px ;
}
.nav_bar_item_user_main{
  margin-left: 30px;
}
.nav_bar_item_user_drop_down_menu{
  margin-left: 10px;
}




}

