* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-style: normal;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  font-size: 24px;
  margin-top: 10px;
  color: var(--primary);
  font-family: "Outfit", sans-serif;
}

.loading-spinner {
  border: 4px solid var(--primary);
  border-top: 4px solid var(--dark);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --primary: #eb1616;
  --hover_with_primary: #eb1616b6;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
  --font_color: #6c7293;
  --white_color: #ffffff;
  --border_radius: 5px;
  --round_border: 50%;
  --font_white_color_size: 16px;
  --half_border_radius: 0px 30px 30px 0px;
  --border_bottom: #0000004c;
}

body {
  background: var(--dark);
}
.mian_container {
  width: 100%;
  height: 1440px;
  /* border: 1px solid white; */
  display: flex;
}
.right_main {
  width: 20%;
  height: 589px;
  position: fixed;
  top: 2px;
  left: 0;
  background: var(--secondary);
  /* border: 1px solid red; */
}

.right_main_logo_with_icon {
  width: 100%;
  height: 64px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_bar_logo {
  width: 45px;
  height: 38px;
  /* border: 1px solid red; */
  padding-left: 3px;
}
.right_bar_logo > i {
  font-size: 1.8rem;
  color: var(--primary);
}
.right_bar_logo_text {
  width: 170px;
  height: 38px;
  /* border: 1px solid red; */
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--primary);
}
.user_icon_main {
  width: 100%;
  height: 65px;
  /* border: 1px solid red; */
  display: flex;

  padding-left: 18px;
  margin-top: 7px;
}
.user_profile {
  width: 42px;
  height: 42px;
  /* border: 1px solid red; */
  border-radius: var(--round_border);
}
.user_profile > img {
  border-radius: var(--round_border);
}
.user_profile_name {
  width: 100px;
  height: 43px;
  /* border: 1px solid red; */
  margin-left: 15px;
}

.user_profile_name h6 {
  font-size: var(--font_white_color_size);
  color: var(--white_color);
  line-height: 1.2;
}
.user_profile_name p {
  color: var(--font_color);
  font-weight: 400;
  font-size: var(--font_white_color_size);
  line-height: 1.5;
}

/* dashbord */
.dashbord_icon_and_text_mian {
  width: 226px;
  height: 54px;
  border-left: 3px solid var(--primary);
  border-radius: var(--half_border_radius);
  background: var(--dark);
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.dashbord_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.dashbord_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--secondary);
}
.dashbord_icon > i {
  color: var(--primary);
  font-size: 20px;
  padding: 10px;
}
.dashbord_text {
  width: 150px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--primary);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}

/* element */

.element_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.element_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.element_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.element_icon > i {
  color: var(--font_color);
  font-size: 18px;
  padding: 10px;
}

.element_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}
.element_drop_down {
  /* margin-top: 5px; */
  width: 15px;
  height: 15px;
  /* border:1px solid orange; */
}
.element_drop_down > i {
  color: var(--font_color);
  font-size: 14px;
  font-weight: 900;
  position: relative;
  top: -3px;
  left: -1px;
  transition: all 0.5s ease-in-out;
}

.element_icon_and_tex_main:hover {
  background: var(--dark);
  color: var(--primary);
  border-left: 3px solid var(--primary);
}
.element_icon_and_tex_main:hover .element_icon {
  background-color: var(--secondary);
}
.element_icon_and_tex_main:hover .fa-laptop {
  color: var(--primary);
}
.element_icon_and_tex_main:hover .element_text {
  color: var(--primary);
}
.element_icon_and_tex_main:hover .fa-chevron-down {
  color: var(--primary);
}

/* widgets */

.widgets_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.widgets_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}

.widgets_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.widgets_icon > i {
  color: var(--font_color);
  font-size: 18px;
  padding: 11px;
}
.widgets_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widgets_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}

.widgets_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
  color: var(--primary);
}

.widgets_icon_and_tex_main:hover .widgets_icon {
  background-color: var(--secondary);
}
.widgets_icon_and_tex_main:hover .fa-th {
  color: var(--primary);
}
.widgets_icon_and_tex_main:hover .widgets_text {
  color: var(--primary);
}

/* forms */

.forms_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.forms_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}

.forms_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.forms_icon > i {
  color: var(--font_color);
  font-size: 18px;
  padding: 10px;
  margin-top: 1.5px;
}
.forms_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forms_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}

.forms_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
}

.forms_icon_and_tex_main:hover .forms_icon {
  background-color: var(--secondary);
}

.forms_icon_and_tex_main:hover .fa-keyboard {
  color: var(--primary);
}

.forms_icon_and_tex_main:hover .forms_text {
  color: var(--primary);
}

/* tables */
.tables_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.tables_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.tables_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.tables_icon > i {
  color: var(--font_color);
  font-size: 18px;
  padding: 11px;
}
.tables_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tables_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}

.tables_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
}
.tables_icon_and_tex_main:hover .tables_icon {
  background-color: var(--secondary);
}

.tables_icon_and_tex_main:hover .fa-table {
  color: var(--primary);
}

.tables_icon_and_tex_main:hover .tables_text {
  color: var(--primary);
}

/* charts */
.charts_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.charts_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.charts_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.charts_icon > i {
  color: var(--font_color);
  font-size: 18px;
  padding: 11px;
}
.charts_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}

.charts_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
}
.charts_icon_and_tex_main:hover .charts_icon {
  background-color: var(--secondary);
}

.charts_icon_and_tex_main:hover .fa-chart-bar {
  color: var(--primary);
}

.charts_icon_and_tex_main:hover .charts_text {
  color: var(--primary);
}

/* pages */
.pages_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.pages_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.pages_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.pages_icon > i {
  color: var(--font_color);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.pages_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}
.pages_drop_down {
  /* margin-top: 5px; */
  width: 15px;
  height: 15px;
  /* border:1px solid orange; */
}

.pages_drop_down > i {
  color: var(--font_color);
  font-size: 14px;
  font-weight: 900;
  position: relative;
  top: -3px;
  left: -1px;
  transition: all 0.5s ease-in-out;
}

.pages_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
}
.pages_icon_and_tex_main:hover .pages_icon {
  background-color: var(--secondary);
}
.pages_icon_and_tex_main:hover .fa-file-alt {
  color: var(--primary);
}
.pages_icon_and_tex_main:hover .pages_text {
  color: var(--primary);
}
.pages_icon_and_tex_main:hover .fa-chevron-down {
  color: var(--primary);
}


/* Log In page */


.login_icon_and_tex_main {
  width: 226px;
  height: 54px;
  border-radius: var(--half_border_radius);
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.login_icon_and_text_sub {
  width: 200px;
  height: 54px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.login_icon {
  width: 40px;
  height: 40px;
  border-radius: var(--round_border);
  background: var(--dark);
}
.login_icon > i {
  color: var(--font_color);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-right: 3px;
}
.login_text_and_dropdown_main {
  width: 150px;
  height: 40px;
  /* border: 1px solid rgb(184, 23, 23); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_text {
  width: 130px;
  height: 40px;
  /* border: 1px solid white; */
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  line-height: 38px;
  padding-left: 10px;
}
.login_text >a{
  color: var(--font_color);
  font-size: var(--font_white_color_size);
  text-decoration: none;
}
.login_drop_down {
  /* margin-top: 5px; */
  width: 15px;
  height: 15px;
  /* border:1px solid orange; */
}

.login_drop_down > i {
  color: var(--font_color);
  font-size: 14px;
  font-weight: 900;
  position: relative;
  top: -3px;
  left: -1px;
  transition: all 0.5s ease-in-out;
}

.login_icon_and_tex_main:hover {
  background: var(--dark);
  border-left: 3px solid var(--primary);
}
.login_icon_and_tex_main:hover .login_icon {
  background-color: var(--secondary);
}
.login_icon_and_tex_main:hover .fa-arrow-right-to-bracket {
  color: var(--primary);
}
.login_icon_and_tex_main:hover .login_text >a{
  color: var(--primary);
}
.login_icon_and_tex_main:hover .fa-chevron-down {
  color: var(--primary);
}







/* left_side */

.left_main {
  width: 80%;
  height: 1440px;
  margin-left: 20%;
  /* border: 1px solid red; */
}

.left_navbar {
  width: 100%;
  height: 64px;
  background: var(--secondary);
  position: fixed;
  display: flex;
  z-index: 999999;
}

.left_navbar_left_section {
  width: 33%;
  height: 64px;
  /* border: 1px solid rgb(225, 218, 218); */
  display: flex;
  align-items: center;
}
.hame_burger_icon_and_search_bar_main {
  width: 317px;
  height: 50px;
  /* border: 1px solid rgb(251, 20, 20); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hame_burger_icon {
  width: 40px;
  height: 40px;
  background: var(--dark);
  border-radius: var(--round_border);
}
.hame_burger_icon > i {
  color: var(--primary);
  font-size: 18px;
  padding: 12px;
}
.hame_burger_icon > i:hover {
  color: var(--hover_with_primary);
}
.search_bar_main {
  width: 212px;
  height: 36px;
  background: var(--dark);
  border-radius: var(--border_radius);
}
.search_bar {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: var(--light);
  padding-left: 5px;
  font-size: var(--font_white_color_size);
}
.search_bar::placeholder {
  color: var(--light);

  font-size: var(--font_white_color_size);
}

.left_navbar_right_section {
  width: 47%;
  height: 64px;
  /* border: 1px solid rgb(251, 20, 20); */
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav_bar_item_main {
  width: 87%;
  height: 55px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* massage section */
.nav_bar_item_massage_main {
  width: 162.5px;
  height: 40px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.nav_bar_item_massage_icon {
  width: 40px;
  height: 40px;
  background: var(--dark);
  border-radius: var(--round_border);
}
.nav_bar_item_massage_icon > i {
  color: var(--light);
  font-size: 18px;
  padding: 11px;
}

.nav_bar_item_massage_text {
  width: 75.19px;
  height: 24px;
  /* border: 1px solid orange; */
  line-height: 25px;
  font-size: var(--font_white_color_size);
  color: var(--light);
  font-weight: 400;
}
.nav_bar_item_massage_drop_down_menu {
  width: 15px;
  height: 24px;
  /* border: 1px solid red; */
}
.nav_bar_item_massage_drop_down_menu > i {
  color: var(--light);
  font-size: 14px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.nav_bar_item_massage_main:hover .fa-envelope {
  color: var(--primary);
}

.nav_bar_item_massage_main:hover .nav_bar_item_massage_text {
  color: var(--primary);
}
.nav_bar_item_massage_main:hover .fa-chevron-down {
  color: var(--primary);
}

/* notification section */

.nav_bar_item_notificatin_main {
  width: 174.6px;
  height: 40px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.nav_bar_item_notificatin_icon {
  width: 40px;
  height: 40px;
  background: var(--dark);
  border-radius: var(--round_border);
}

.nav_bar_item_notificatin_icon > i {
  color: var(--light);
  font-size: 17px;
  padding: 12.5px;
}

.nav_bar_item_notificatin_text {
  width: 83.19px;
  height: 24px;
  /* border: 1px solid orange; */
  line-height: 25px;
  font-size: var(--font_white_color_size);
  color: var(--light);
  font-weight: 400;
}

.nav_bar_item_notificatin_drop_down_menu {
  width: 15px;
  height: 24px;
  /* border: 1px solid red; */
}
.nav_bar_item_notificatin_drop_down_menu > i {
  color: var(--light);
  font-size: 14px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.nav_bar_item_notificatin_main:hover .fa-bell {
  color: var(--primary);
}

.nav_bar_item_notificatin_main:hover .nav_bar_item_notificatin_text {
  color: var(--primary);
}
.nav_bar_item_notificatin_main:hover .fa-chevron-down {
  color: var(--primary);
}

/* user section */
.nav_bar_item_user_main {
  width: 165.24px;
  height: 40px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.nav_bar_item_user_icon {
  width: 40px;
  height: 40px;
}
.nav_bar_item_user_icon > img {
  width: 100%;
  height: 100%;
  border-radius: var(--round_border);
}

.nav_bar_item_user_text {
  width: 75.19px;
  height: 24px;
  /* border: 1px solid orange; */
  line-height: 25px;
  font-size: var(--font_white_color_size);
  color: var(--light);
  font-weight: 400;
}
.nav_bar_item_user_drop_down_menu {
  width: 15px;
  height: 24px;
  /* border: 1px solid red; */
}

.nav_bar_item_user_drop_down_menu > i {
  color: var(--light);
  font-size: 14px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.nav_bar_item_user_main:hover .nav_bar_item_user_text {
  color: var(--primary);
}
.nav_bar_item_user_main:hover .fa-chevron-down {
  color: var(--primary);
}

.card_main {
  margin-top: 64px;
  width: 100%;
  height: 147px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card_1 {
  width: 223px;
  height: 99px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.today_sales_icon {
  width: 48px;
  height: 48px;
  /* border: 1px solid red; */
}
.today_sales_icon > i {
  color: var(--primary);
  font-size: 48px;
}

.today_sales_text {
  width: 105px;
  height: 52px;
  /* border: 1px solid red; */
}

.today_sales_text > h6 {
  color: var(--light);
  font-weight: 500;
  font-size: var(--font_white_color_size);
  text-align: end;
  line-height: 30px;
}
.today_sales_text > p {
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
}

.card_2 {
  width: 223px;
  height: 99px;
  background: var(--secondary);
  border-radius: var(--border_radius);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.total_sales_icon {
  width: 48px;
  height: 48px;
  /* border: 1px solid red; */
}
.total_sales_icon > i {
  color: var(--primary);
  font-size: 48px;
}

.total_sales_text {
  width: 105px;
  height: 52px;
  /* border: 1px solid red; */
}

.total_sales_text > h6 {
  color: var(--light);
  font-weight: 500;
  font-size: var(--font_white_color_size);
  text-align: end;
  line-height: 30px;
}
.total_sales_text > p {
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
}

.card_3 {
  width: 223px;
  height: 99px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.today_Revenue_icon {
  width: 48px;
  height: 48px;
  /* border: 1px solid red; */
}
.today_Revenue_icon > i {
  color: var(--primary);
  font-size: 48px;
}

.today_Revenue_text {
  width: 105px;
  height: 52px;
  /* border: 1px solid red; */
}

.today_Revenue_text > h6 {
  color: var(--light);
  font-weight: 500;
  font-size: var(--font_white_color_size);
  text-align: end;
  line-height: 30px;
}
.today_Revenue_text > p {
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
  padding-right: 6px;
}

.card_4 {
  width: 223px;
  height: 99px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.total_Revenue_icon {
  width: 48px;
  height: 48px;
  /* border: 1px solid red; */
}
.total_Revenue_icon > i {
  color: var(--primary);
  font-size: 48px;
}

.total_Revenue_text {
  width: 105px;
  height: 52px;
  /* border: 1px solid red; */
}

.total_Revenue_text > h6 {
  color: var(--light);
  font-weight: 500;
  font-size: var(--font_white_color_size);
  text-align: end;
  line-height: 30px;
}
.total_Revenue_text > p {
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
  padding-left: 5px;
}

.chart_main {
  width: 100%;
  height: 330px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
}
.right_chart_main {
  width: 470px;
  height: 306px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.Worldwide_Sales_main {
  width: 100%;
  height: 48px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.Worldwide_Sales_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Worldwide_Sales_text > p {
  color: var(--white_color);
}
.Worldwide_Sales_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Worldwide_Sales_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.Worldwide_Sales_show_all > p:hover {
  color: var(--hover_with_primary);
}
.chart_right {
  width: 100%;
  height: 212px;
  /* border: 1px solid orange; */
}

.left_chart_main {
  width: 470px;
  height: 306px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.Salse_Revenue_main {
  width: 100%;
  height: 48px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.Salse_Revenue_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Salse_Revenue_text > p {
  color: var(--white_color);
}
.Salse_Revenue_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Salse_Revenue_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.Salse_Revenue_show_all > p:hover {
  color: var(--hover_with_primary);
}
.chart_left {
  width: 100%;
  height: 212px;
  /* border: 1px solid orange; */
}

.table_main {
  width: 100%;
  height: 394px;
  /* border: 1px solid  rgb(0, 255, 106); */
  display: flex;
  justify-content: space-evenly;
}
.tebal {
  width: 965px;
  height: 372px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.Recent_Salse_main {
  width: 100%;
  height: 48px;
  /* border: px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.Recent_Salse_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Recent_Salse_text > p {
  color: var(--white_color);
}
.Recent_Salse_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.Recent_Salse_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.Recent_Salse_show_all > p:hover {
  color: var(--hover_with_primary);
}

.table_data_main {
  width: 100%;
  height: 278px;
  /* border: 1px solid pink; */
}

/* table  */

table {
  border-collapse: collapse;
  width: 100%;
  height: 278px;
  cursor: pointer;
}
th {
  color: white;
  border: 1px solid var(--dark);
  text-align: left;
  padding: 8px;
  font-weight: 500;
  font-size: var(--font_white_color_size);
}
td {
  border: 1px solid var(--dark);
  text-align: left;
  padding: 8px;
  color: var(--light);
  font-weight: 400;
}
tr:hover {
  background-color: #1818184d;
}
.input_check_box_for_table {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

button {
  background: var(--primary);
  border: none;
  height: 30px;
  width: 55px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
}
button:hover {
  background: var(--hover_with_primary);
}

/* table  end */

.sub_container {
  width: 100%;
  height: 398px;
  /* border: 1px solid rgb(215, 22, 22); */
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.messages_container {
  width: 305px;
  height: 374px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.messages_main {
  width: 100%;
  height: 30px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.messages_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.messages_text > p {
  color: var(--white_color);
}
.messages_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.messages_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.messages_show_all > p:hover {
  color: var(--hover_with_primary);
}

.massages_profile_main {
  width: 100%;
  height: 78px;
  border-bottom: 1.5px solid var(--border_bottom);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.massages_profile_img {
  width: 40px;
  height: 40px;
  /* border: 1px solid red; */
}
.massages_profile_img > img {
  border-radius: var(--round_border);
  width: 100%;
  height: 100%;
}

.massages_profile_text_main {
  width: 202px;
  height: 40px;
  /* border: 1px solid white; */
}

.massages_profile_user_name_and_last_active_time {
  width: 100%;
  height: 21px;
  /* border: 1px solid white; */

  display: flex;
  justify-content: space-between;
}
.massages_profile_user_name {
  width: 40%;
  height: 21px;
  /* border: 1px solid white; */
  color: var(--white_color);
}
.massages_profile_last_active {
  width: 55%;
  height: 21px;
  /* border: 1px solid white; */
  color: var(--light);
  font-weight: 400;
  font-size: 16px;
}

.shot_massage_main {
  width: 100%;
  height: 21px;
  /* border: 1px solid white; */
  color: var(--light);
  font-weight: 400;
  font-size: 16.5px;
}

.massages_profile_main4 {
  width: 100%;
  height: 78px;
  /* border-bottom: 1.5px solid var(--border_bottom); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender_container {
  width: 305px;
  height: 374px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.calender_main {
  width: 100%;
  height: 48px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.calender_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.calender_text > p {
  color: var(--white_color);
}
.calender_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.calender_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.calender_show_all > p:hover {
  color: var(--hover_with_primary);
}

.calender_date {
  width: 100%;
  height: 270px;
  /* border: 1px solid rgb(0, 255, 64); */
}

.to-do-list_container {
  width: 305px;
  height: 374px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  padding: 24px;
}

.to-do-list_main {
  width: 100%;
  height: 48px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.to-do-list_text {
  width: 122px;
  height: 20px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.to-do-list_text > p {
  color: var(--white_color);
}
.to-do-list_show_all {
  width: 65px;
  height: 24px;
  /* border: 1px solid rgb(0, 255, 64); */
}
.to-do-list_show_all > p {
  color: var(--primary);
  font-weight: 400;
}
.to-do-list_show_all > p:hover {
  color: var(--hover_with_primary);
}

.enter_task_and_add_button_main {
  width: 100%;
  height: 46px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}
.enter_task_input {
  width: 195px;
  height: 38px;
  background: var(--dark);
  border-radius: var(--border_radius);
  padding: 6px 12px;
}

.enter_task_input > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--font_color);
  font-size: var(--font_white_color_size);
}
.enter_task_input > input::placeholder {
  color: var(--light);
}

.enter_task_add_button {
  width: 55px;
  height: 38px;
  background: var(--primary);
  border-radius: var(--border_radius);
  padding: 9px 12px;
  color: var(--white_color);
}
.enter_task_add_button:hover {
  background: var(--hover_with_primary);
}

.checkbox_and_text_cross_icon_main {
  width: 100%;
  height: 47px;
  border-bottom: 2px solid var(--border_bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox_main {
  width: 14.28px;
  height: 16px;
  margin-bottom: 3px;
}
.checkbox_main > input {
  width: 100%;
  height: 100%;
}

.text_and_cross_icon {
  width: 227px;
  height: 30px;
  /* border: 1px solid rgb(200, 137, 137); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 166px;
  height: 24px;
  /* border: 1px solid white; */
  color: var(--light);
  font-weight: 400;
}

.cross_icon {
  width: 27px;
  height: 30px;
  /* border: 1px solid white; */
}
.cross_icon > i {
  color: var(--primary);
  font-size: 16px;
  padding: 6px;
}

.cross_icon > i:hover {
  color: var(--hover_with_primary);
}

.checkbox_and_text_cross_icon_main5 {
  width: 100%;
  height: 47px;
  /* border-bottom:2px solid var(--border_bottom); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copiyright_main {
  width: 100%;
  height: 120px;
  /* border: 1px solid rgb(152, 212, 22); */
  display: flex;
  justify-content: center;
}
.copiy_right_sub_container {
  width: 965px;
  height: 96px;
  background: var(--secondary);
  border-radius: var(--border_radius);
  /* border: 1px solid rgb(212, 152, 22); */
  padding: 26px;
}

.copiy_container_left_part_main {
  width: 100%;
  height: 48px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}
.copiy_container_left_part {
  width: 49%;
  height: 48px;
  /* border: 1px solid white; */
  cursor: pointer;
}
.copiy_container_left_part > p {
  color: var(--light);
}
.copiy_container_left_part > p > span {
  color: var(--primary);
}
.copiy_container_left_part > p > span:hover {
  color: var(--hover_with_primary);
}
.copiy_container_right_part {
  width: 49%;
  height: 48px;
  /* border: 1px solid white; */
  cursor: pointer;
}
.frist {
  color: var(--light);
  margin-bottom: 5px;
  text-align: right;
}
.frist > span {
  color: var(--primary);
}
.frist > span:hover {
  color: var(--hover_with_primary);
}

.second {
  color: var(--light);
  text-align: right;
}
.second > span {
  color: var(--primary);
}
.second > span:hover {
  color: var(--hover_with_primary);
}


